.vaccine_page {
  padding: 0 10px;
  width: 70%;
  font-family: Roboto;
  margin: 0 auto;
  display: flex;
  background-color: #dee8ea;
  flex-direction: column;
}

.vaccine_page::content {
  margin-bottom: 2em;
}

.vaccine-h3 {
  margin: 0.75em 0;
  font-size: 1.75em;
}

.vaccine-h1 {
  margin: 1em 0;
  font-size: 2.5em;
  font-family: Lato;
}

h4.vaccine-h4 {
  margin: 0.5em 0;
  color: #cae2e7;
  font-size: 2em;
  font-family: Lato;
}

.vaccine-p {
  margin: 0.5em 0;
  padding: 0.5em 0;
}

.vaccine-ul {
  padding-left: 1em;
}

.vaccine-li {
  list-style: disc;
}
